div.toolsBars
{
	width: 280px;
	float: left;
}

fieldset.toolsBar
{

	padding: 3px;
}


input[type=button] {
	width: 34px;
	height: 34px;
	background-repeat: no-repeat;
	background-position: center middle;
	border: solid 1px grey;
	text-indent: -9999px;
	cursor: pointer;
}

input[type=button].active {
	border: solid 1px black;
}

div.canvas
{
	margin-left: 320px;
}